<div class="form-group">
    <label for="category_name">Category Name</label>
    <input type="text" class="form-control" id="category_name" placeholder="category name" name="name">
</div>
<div class="form-group">
    <label for="category_description">Optional Description</label>
    <textarea id="category_description" class="form-control" rows="3"
        placeholder="you can leave a description about the blog category..." name="description"></textarea>
</div>

<button type="submit" class="btn btn-success" onclick="post_category_data()">Submit</button>